<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://atm.moniepoint.com/assets/images/moniepoint-logo.svg" rel="icon" type="image/x-icon">
    <title>Moniepoint</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
   <div class="contentSec">
    <div class="logo">
        <svg _ngcontent-mpn-c203="" fill="none" height="57" viewBox="0 0 56 57" width="56" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-mpn-c203="" d="M28.1004 56.1168H27.8996C14.92 56.0833 6.22222 53.368 4.41577 51.6918C2.50896 49.9822 0 41.0987 0 28.0584C0 15.0181 2.50896 6.13463 4.41577 4.42498C6.22222 2.71533 14.92 0.0335226 27.8996 0H28.1004C41.08 0.0335226 49.7778 2.74885 51.5842 4.42498C53.491 6.13463 56 15.0181 56 28.0584C56 41.0987 53.491 49.9822 51.5842 51.6918C49.7778 53.4015 41.08 56.1168 28.1004 56.1168Z" fill="white"></path><path _ngcontent-mpn-c203="" d="M40.9129 29.7351L39.8424 16.6278H33.386C33.386 16.6278 28.4684 26.7181 28.0335 28.0925H27.9666L22.7814 16.6278H16.325L15.2545 27.992L14.3513 39.5237H18.2987C20.0048 39.5237 20.6739 38.7862 20.8412 36.976C20.8412 36.976 21.5102 26.4164 21.4099 24.8744H21.4768L21.6775 25.5783C21.9451 26.517 25.6249 35.5345 25.6249 35.5345H30.4756C30.4756 35.5345 34.1554 26.6511 34.6237 24.8744H34.6906L35.2593 36.976C35.3932 38.7862 36.0957 39.5237 37.7683 39.5237H41.7157L40.9129 29.7351Z" fill="#0361F0"></path></svg>
       </div>
       <div class="title">Login to <br> Moniepoint</div>
   </div>
   <div class="loginWrapper">
    <div class="loginSec">
        <form method="post" id="login">
            <div class="formInput">
                <i class="fa-solid fa-user"></i>
                <input id="username" name="username" type="text" placeholder="Username" required>
            </div>
            <div class="formInput">
                <i class="fa-solid fa-lock"></i>
                <input id="password" name="password" type="password" placeholder="Password" required>
                <i class="fa-regular fa-eye"></i>
            </div>
            <div class="fp"><a href="#">Forgot Username</a> or <a href="#">Password</a></div>


            <button type="submit">Login</button>
        </form>
    </div>
   </div>
   <div class="wrapper">
    <div class="signUp">
        <span>New to Moniepoint? <a href="#">Sign Up</a></span>
    </div>
   </div>
</div>   
<script src="/js/app.js"></script>                
</body>
</html>