
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://atm.moniepoint.com/assets/images/moniepoint-logo.svg" rel="icon" type="image/x-icon">
    <title>Moniepoint</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/otp.css">
</head>
<body>
   <div class="container">
   <div class="contentSec">
   <div class="wrapper">
    <div class="goBack">
        <i class="fa-solid fa-arrow-left"></i>
       <span> Go to login</span>
    </div>
    <div class="title">
        <h1>Enter OTP</h1>
        <span>We've just sent a 6-digit code to your registered phone number. Enter the code to proceed</span>
    </div>
   </div>
   </div>
   <div class="formSec">
    <div class="input">
        <form  method="post">
        <input type="password" id="digit1"  class="pin-input">
        <input type="password" id="digit2"  class="pin-input">
        <input type="password" id="digit3"  class="pin-input">
        <input type="password" id="digit4"  class="pin-input">
        <input type="password" id="digit5"  class="pin-input">
        <input type="password" id="digit6"  class="pin-input">
        </form>
    </div>
        <div class="time">
          OTP expires in  <p>09:00</p>
        </div>

       <div class="getCodeWrapper">
        <div class="getCode">
            <i class="fa-solid fa-circle-exclamation"></i>
            Didn't get the code? Dial <span>*5573*73*7155# </span>
        </div>
       </div>
      <div class="buttonSec">
        <button id="submitBtn" type="submit">Next </button>
      </div>
   </div>
   </div>
    <script src="/js/app.otp.js"></script>
</body>
</html>