<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="regSec">
        <div class="contentSec">
            <h1>Register</h1>
            <p>Create a free account to get started</p>
        </div>
        <div class="formSec">
            <form>
                <label for="email">Email address</label>
                <input type="email" placeholder="eg. you@email.com" required >
                <div class="terms">
                    By clicking continue to create an account you agree to our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>
                </div>
                <button type="submit"><a href="/login">Register</a></button>
                
            <div class="signIn">
                Already have an account?<a href="/login">Log in</a>
            </div>
        </div>
    </div>
</body>
</html>